# Ski Resorts Exploratory Data Analysis

## Overview - Analyze the datasets which contain the statistical data of the ski resorts across the world, identify the key factors of success and be profitable in a ski resort management. Provide the visualized data information and provide insights for our hypothetical to run the business effectively.

**Import Libraries and Datasets**

In [1453]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns

In [1454]:
# Initialize the default style for the matplotlib
plt.style.use('ggplot')
# configure the default figure size for all plots
from matplotlib.pyplot import figure
plt.rcParams['figure.figsize'] = (12, 12)

In [1455]:
# import datasets from the csv
resorts_df = pd.read_csv(r'./datasets/resorts.csv', encoding='cp1252')
snow_df = pd.read_csv(r'./datasets/snow.csv', encoding='cp1252')

**1. Previewing the head of each dataframe**

In [1456]:
# change limits of rows and columns display

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [1457]:
# resorts dataset
resorts_df.head()

,ID,Resort,Latitude,Longitude,Country,Continent,Price,Season,Highest point,Lowest point,Beginner slopes,Intermediate slopes,Difficult slopes,Total slopes,Longest run,Snow cannons,Surface lifts,Chair lifts,Gondola lifts,Total lifts,Lift capacity,Child friendly,Snowparks,Nightskiing,Summer skiing
0,1,Hemsedal,60.928244,8.383487,Norway,Europe,46,November - May,1450,620,29,10,4,43,6,325,15,6,0,21,22921,Yes,Yes,Yes,No
1,2,Geilosiden Geilo,60.534526,8.206372,Norway,Europe,44,November - April,1178,800,18,12,4,34,2,100,18,6,0,24,14225,Yes,Yes,Yes,No
2,3,Golm,47.057810,9.828167,Austria,Europe,48,December - April,2110,650,13,12,1,26,9,123,4,4,3,11,16240,Yes,No,No,No
3,4,Red Mountain Resort-Rossland,49.105520,-117.846280,Canada,North America,60,December - April,2075,1185,20,50,50,120,7,0,2,5,1,8,9200,Yes,Yes,Yes,No
4,5,Hafjell,61.230369,10.529014,Norway,Europe,45,November - April,1030,195,33,7,4,44,6,150,14,3,1,18,21060,Yes,Yes,Yes,No

In [1458]:
snow_df.head()

        Month  Latitude  Longitude    Snow
0  2022-12-01    63.125     68.875   95.28
1  2022-12-01    63.125     69.125  100.00
2  2022-12-01    63.125     69.375  100.00
3  2022-12-01    63.125     69.625  100.00
4  2022-12-01    63.125     69.875  100.00

**2. Data Preparation**

In [1459]:
# check total rows and columns in the dataset
resorts_df.shape

(499, 25)

In [1460]:
# check total rows and columns in the dataset
snow_df.shape

(820522, 4)

**2.1. Datatype Verification**

In [1461]:
# datatype verification
resorts_df.dtypes

resorts_df['Child friendly'].unique()


# resorts_df

array(['Yes', 'No'], dtype=object)

In [1462]:
resorts_df['Snowparks'].unique()

array(['Yes', 'No'], dtype=object)

In [1463]:
resorts_df['Nightskiing'].unique()

array(['Yes', 'No'], dtype=object)

In [1464]:
resorts_df['Summer skiing'].unique()

array(['No', 'Yes'], dtype=object)

In [1465]:
# Only Yes, No are contained in the resorts_df
# Child friendly, Snowparks, Nightskiing, Summer skiing columns can be changed to boolean type
resorts_df['Child friendly'] = resorts_df['Child friendly'].map({'Yes': True, 'No': False})
resorts_df['Snowparks'] = resorts_df['Snowparks'].map({'Yes': True, 'No': False})
resorts_df['Nightskiing'] = resorts_df['Nightskiing'].map({'Yes': True, 'No': False})
resorts_df['Summer skiing'] = resorts_df['Summer skiing'].map({'Yes': True, 'No': False})

resorts_df[['Child friendly', 'Snowparks', 'Nightskiing', 'Summer skiing']] = resorts_df[['Child friendly', 'Snowparks', 'Nightskiing', 'Summer skiing']].astype('bool')

resorts_df[['Child friendly', 'Snowparks', 'Nightskiing', 'Summer skiing']].head()

   Child friendly  Snowparks  Nightskiing  Summer skiing
0            True       True         True          False
1            True       True         True          False
2            True      False        False          False
3            True       True         True          False
4            True       True         True          False

In [1466]:
# datatype verification
snow_df.dtypes

Month         object
Latitude     float64
Longitude    float64
Snow         float64
dtype: object

**2.2 Handle Duplication and Nulls**

In [1467]:
# check null values
resorts_df.isna().sum()

ID                     0
Resort                 0
Latitude               0
Longitude              0
Country                0
Continent              0
Price                  0
Season                 0
Highest point          0
Lowest point           0
Beginner slopes        0
Intermediate slopes    0
Difficult slopes       0
Total slopes           0
Longest run            0
Snow cannons           0
Surface lifts          0
Chair lifts            0
Gondola lifts          0
Total lifts            0
Lift capacity          0
Child friendly         0
Snowparks              0
Nightskiing            0
Summer skiing          0
dtype: int64

In [1468]:
# check null values
snow_df.isna().sum()

Month        0
Latitude     0
Longitude    0
Snow         0
dtype: int64

In [1469]:
# check duplicate values
resorts_df[resorts_df.duplicated()]

Empty DataFrame
Columns: [ID, Resort, Latitude, Longitude, Country, Continent, Price, Season, Highest point, Lowest point, Beginner slopes, Intermediate slopes, Difficult slopes, Total slopes, Longest run, Snow cannons, Surface lifts, Chair lifts, Gondola lifts, Total lifts, Lift capacity, Child friendly, Snowparks, Nightskiing, Summer skiing]
Index: []

In [1470]:
# check duplicate values
snow_df[snow_df.duplicated()]

# no nulls and duplicate values found, move on to the next step

Empty DataFrame
Columns: [Month, Latitude, Longitude, Snow]
Index: []

**2.3. Data Transform**

In [1471]:
import sys
import os

sys.path.append(os.path.abspath('./utils'))

import utils
# module updates handle
import importlib

importlib.reload(utils)

# remove invalid characters from the string
# define a function to transform the invalid characters
pattern = r'[^a-zA-Z0-9\s\w-]'

# check number of invalid characters inside the columns
invalid_mask = resorts_df['Resort'].str.contains(pattern, regex=True)

invalid_count = resorts_df[invalid_mask]['Resort'].count()
invalid_count

211

In [1472]:
# hyphens are allowed in the column data
resorts_df = utils.remove_invalid_characters(resorts_df, columns=['Resort'])
resorts_df.head()

,ID,Resort,Latitude,Longitude,Country,Continent,Price,Season,Highest point,Lowest point,Beginner slopes,Intermediate slopes,Difficult slopes,Total slopes,Longest run,Snow cannons,Surface lifts,Chair lifts,Gondola lifts,Total lifts,Lift capacity,Child friendly,Snowparks,Nightskiing,Summer skiing
0,1,Hemsedal,60.928244,8.383487,Norway,Europe,46,November - May,1450,620,29,10,4,43,6,325,15,6,0,21,22921,True,True,True,False
1,2,Geilosiden Geilo,60.534526,8.206372,Norway,Europe,44,November - April,1178,800,18,12,4,34,2,100,18,6,0,24,14225,True,True,True,False
2,3,Golm,47.057810,9.828167,Austria,Europe,48,December - April,2110,650,13,12,1,26,9,123,4,4,3,11,16240,True,False,False,False
3,4,Red Mountain Resort-Rossland,49.105520,-117.846280,Canada,North America,60,December - April,2075,1185,20,50,50,120,7,0,2,5,1,8,9200,True,True,True,False
4,5,Hafjell,61.230369,10.529014,Norway,Europe,45,November - April,1030,195,33,7,4,44,6,150,14,3,1,18,21060,True,True,True,False

In [1473]:
# Check any invalid characters in the column
resorts_df['Country'].unique()

array(['Norway', 'Austria', 'Canada', 'New Zealand', 'Chile', 'Germany',
       'Switzerland', 'Italy', 'France', 'United Kingdom',
       'United States', 'Andorra', 'Australia', 'Argentina', 'Finland',
       'Japan', 'Slovenia', 'Bulgaria', 'Spain', 'Sweden', 'Lebanon',
       'Russia', 'Ukraine', 'Georgia', 'Serbia', 'Turkey', 'Slovakia',
       'Poland', 'Bosnia and Herzegovina', 'Czech Republic', 'Iran',
       'South Korea', 'Romania', 'Greece', 'Liechtenstein', 'Lithuania',
       'Kazakhstan', 'China'], dtype=object)

In [1474]:
# Check any invalid characters in the column
resorts_df['Continent'].unique()

array(['Europe', 'North America', 'Oceania', 'South America', 'Asia'],
      dtype=object)

In [1475]:
# The original dataset described the information in a human readable representation, one of the example is the Season column, which represent the period of time by using english month to english month.

# We can break this into two separate columns like "Season From" and "Season To" to make it easier for the periodic analysis

# Check any invalid characters in the column
resorts_df['Season'].unique()

array(['November - May', 'November - April', 'December - April',
       'June - September', 'June - October', 'Year-round',
       'October - June', 'September - June', 'December - March',
       'October - May',
       'December - April, June - August, October - November',
       'July - September', 'November - May, June - August',
       'May - September', 'December - May', 'July', 'September - May',
       'October - April', 'April', 'Unknown', 'July - April',
       'May - October', 'November - June', 'September - April', 'May',
       'June - May', 'November - March', 'March', 'December',
       'October - November, December - May, June - October',
       'July - October'], dtype=object)

In [1476]:
# unknown season found - for now, we can just ignore this
resorts_df.query('Season == "Unknown"').head()

,ID,Resort,Latitude,Longitude,Country,Continent,Price,Season,Highest point,Lowest point,Beginner slopes,Intermediate slopes,Difficult slopes,Total slopes,Longest run,Snow cannons,Surface lifts,Chair lifts,Gondola lifts,Total lifts,Lift capacity,Child friendly,Snowparks,Nightskiing,Summer skiing
123,124,Courmayeur Checrouit - Val Veny,45.787425,6.973062,Italy,Europe,46,Unknown,2755,1205,16,21,4,41,0,280,4,8,6,18,24497,True,True,False,False
181,182,Mondole Ski-Artesina-Frabosa Soprana-Prato Nevoso,44.249446,7.775081,Italy,Europe,33,Unknown,807,803,42,51,11,104,0,0,19,14,0,33,26068,True,True,True,False
233,234,Mzaar Kfardebian,33.972129,35.839567,Lebanon,Asia,51,Unknown,2465,1850,46,30,4,80,0,0,0,0,0,0,0,True,False,False,False
241,242,Jay Peak,47.631371,-120.829534,United States,North America,70,Unknown,1175,563,15,31,30,76,0,0,2,6,1,9,11675,True,False,False,False
299,300,Oppdal,62.535178,9.623304,Norway,Europe,44,Unknown,1300,585,40,7,9,56,0,0,1,0,0,1,0,True,False,False,False

In [1477]:

# separating Season to "Season From" and "Season To"
# symbols in the column are ',' and '-'

tmp_df = resorts_df.copy()

# Spliting multiple Seaons Resort for future analysis
tmp_df['Split_Season'] = tmp_df['Season'].str.split(r'[,-]')
tmp_df['Split_Season']

# check if the seasons in the list are paired
tmp_df['Split_Season'].apply(len).unique()

array([2, 6, 4, 1], dtype=int64)

In [1478]:
# filtering "Season From" by modding the value index, if the index remains 1 then the index should be like [0, 2, 4]
def filter_from(lst):
    if len(lst) == 1:
        return [lst[0]]
    return [value for index, value in enumerate(lst) if index % 2 == 1]

# filtering "Season To" by modding the value index, if the index remains 0 then the index should be like [1, 3, 5]
def filter_to(lst):
    if len(lst) == 1:
        return []
    return [value for index, value in enumerate(lst) if index % 2 == 0]

tmp_df['Season From'] = tmp_df['Split_Season'].apply(filter_from)
tmp_df['Season To'] = tmp_df['Split_Season'].apply(filter_to)

tmp_df = tmp_df.drop(['Season', 'Split_Season'], axis=1)
resorts_df = tmp_df.copy()

In [1479]:
# standardize the decimal places of the latitude and longitude to comply with the snow_df
resorts_df[['Latitude', 'Longitude']] = resorts_df[['Latitude', 'Longitude']].round(3)
resorts_df.head()

,ID,Resort,Latitude,Longitude,Country,Continent,Price,Highest point,Lowest point,Beginner slopes,Intermediate slopes,Difficult slopes,Total slopes,Longest run,Snow cannons,Surface lifts,Chair lifts,Gondola lifts,Total lifts,Lift capacity,Child friendly,Snowparks,Nightskiing,Summer skiing,Season From,Season To
0,1,Hemsedal,60.928,8.383,Norway,Europe,46,1450,620,29,10,4,43,6,325,15,6,0,21,22921,True,True,True,False,[ May],[November ]
1,2,Geilosiden Geilo,60.535,8.206,Norway,Europe,44,1178,800,18,12,4,34,2,100,18,6,0,24,14225,True,True,True,False,[ April],[November ]
2,3,Golm,47.058,9.828,Austria,Europe,48,2110,650,13,12,1,26,9,123,4,4,3,11,16240,True,False,False,False,[ April],[December ]
3,4,Red Mountain Resort-Rossland,49.106,-117.846,Canada,North America,60,2075,1185,20,50,50,120,7,0,2,5,1,8,9200,True,True,True,False,[ April],[December ]
4,5,Hafjell,61.230,10.529,Norway,Europe,45,1030,195,33,7,4,44,6,150,14,3,1,18,21060,True,True,True,False,[ April],[November ]

**3. Understand Relationship**

In [1480]:
# Review the columns inside the resorts dataframe
resorts_df.columns

Index(['ID', 'Resort', 'Latitude', 'Longitude', 'Country', 'Continent',
       'Price', 'Highest point', 'Lowest point', 'Beginner slopes',
       'Intermediate slopes', 'Difficult slopes', 'Total slopes',
       'Longest run', 'Snow cannons', 'Surface lifts', 'Chair lifts',
       'Gondola lifts', 'Total lifts', 'Lift capacity', 'Child friendly',
       'Snowparks', 'Nightskiing', 'Summer skiing', 'Season From',
       'Season To'],
      dtype='object')

In [1481]:
# Review the columns inside the snow dataframe
snow_df.columns

Index(['Month', 'Latitude', 'Longitude', 'Snow'], dtype='object')

In [1489]:
snow_df

             Month  Latitude  Longitude    Snow
0       2022-12-01    63.125     68.875   95.28
1       2022-12-01    63.125     69.125  100.00
2       2022-12-01    63.125     69.375  100.00
3       2022-12-01    63.125     69.625  100.00
4       2022-12-01    63.125     69.875  100.00
...            ...       ...        ...     ...
820517  2022-01-01   -53.375    -68.375    1.57
820518  2022-01-01   -54.375    -36.625   33.86
820519  2022-01-01   -54.625    -69.375    3.94
820520  2022-01-01   -55.375    -68.875    1.97
820521  2022-01-01   -55.375    -68.625    1.97

[820522 rows x 4 columns]

In [1494]:
resorts_df.loc[(resorts_df['Latitude'] >= 63) & (resorts_df['Longitude'] >=68)]

,ID,Resort,Latitude,Longitude,Country,Continent,Price,Highest point,Lowest point,Beginner slopes,Intermediate slopes,Difficult slopes,Total slopes,Longest run,Snow cannons,Surface lifts,Chair lifts,Gondola lifts,Total lifts,Lift capacity,Child friendly,Snowparks,Nightskiing,Summer skiing,Season From,Season To
6,7,Porter,-39.671,176.877,New Zealand,Oceania,61,1980,1300,5,0,5,10,0,0,5,1,0,6,5600,False,False,False,True,[ September],[June ]
15,16,Treble Cone,-44.632,168.873,New Zealand,Oceania,68,1960,1260,4,9,9,22,0,32,2,2,0,4,4520,False,True,False,True,[ October],[June ]
29,30,The Remarkables,-45.055,168.816,New Zealand,Oceania,74,1943,1586,3,4,3,10,1,0,3,4,0,7,8400,True,True,False,True,[ October],[June ]
47,48,Coronet Peak,-44.916,168.740,New Zealand,Oceania,74,1649,1229,8,16,16,40,0,202,5,3,0,8,7200,True,True,True,True,[ October],[June ]
50,51,Ben Lomond,-30.024,151.659,Australia,Oceania,47,1572,1460,2,3,1,6,0,0,0,7,0,7,0,True,False,False,True,[ September],[July ]
82,83,Niseko,42.805,140.687,Japan,Asia,57,1200,300,20,16,8,44,0,0,1,26,5,32,42400,True,True,True,False,[ May],[November ]
191,192,Mt Buller,-37.269,146.401,Australia,Oceania,87,1790,1390,25,45,30,100,2,216,13,13,1,27,33600,True,True,True,True,[ October],[May ]
195,196,Perisher,-36.396,148.409,Australia,Oceania,0,1605,1125,22,60,18,100,3,271,34,14,1,49,46975,True,True,True,True,[ October],[June ]
207,208,Falls Creek,-36.879,147.244,Australia,Oceania,87,1780,1500,15,65,12,92,3,0,6,8,0,14,19992,True,True,True,True,[ September],[June ]
228,229,Shigakogen Mountain Resort,36.716,138.493,Japan,Asia,39,2307,1335,41,30,12,83,0,0,0,54,4,58,83750,True,True,True,False,[ May],[December ]
252,253,Thredbo,-36.505,148.306,Australia,Oceania,84,2037,1365,7,60,3,70,5,177,7,7,0,14,17050,True,True,False,True,[ September],[June ]
322,323,Happo-One-Hakuba,36.704,137.823,Japan,Asia,40,1831,760,16,26,10,52,0,0,0,21,1,22,29100,True,True,True,False,[ May],[December ]
339,340,Zao Onsen,38.168,140.400,Japan,Asia,39,1661,780,20,20,10,50,0,0,0,38,4,42,50000,True,True,False,False,[ May],[December ]
342,343,Mitsumata-Kagura-Tashiro-Mt Naeba-,36.394,139.089,Japan,Asia,44,1845,620,7,8,8,23,0,0,0,19,4,23,31400,True,True,False,False,[ May],[November ]
344,345,Appi Kogen,40.012,140.998,Japan,Asia,43,1328,500,13,18,13,44,0,0,2,14,2,18,23800,True,False,False,False,[Unknown],[]
346,347,Rusutsu,42.737,140.875,Japan,Asia,45,994,400,12,16,12,40,0,0,3,14,4,21,31128,True,True,True,False,[ April],[November ]
359,360,Myoko Akakura,36.893,138.180,Japan,Asia,39,1491,687,9,8,2,19,0,0,2,20,1,23,37400,True,True,True,False,[Unknown],[]
360,361,Naeba-Mt Naeba-,36.846,138.690,Japan,Asia,44,1789,900,6,8,6,20,4,0,0,12,3,15,25400,True,True,True,False,[ April],[December ]
361,362,Nozawa Onsen,36.917,138.464,Japan,Asia,37,1650,565,22,13,9,44,0,0,1,15,3,19,29772,True,True,True,False,[ April],[November ]
382,383,Gala Yuzawa-Ishiuchi Maruyama,36.950,138.800,Japan,Asia,35,1181,256,10,9,6,25,6,0,1,24,2,27,39400,True,True,True,False,[ May],[December ]
383,384,YongPyong Resort,37.646,128.682,South Korea,Asia,57,1438,700,2,11,10,23,0,0,1,14,1,16,27400,True,False,True,False,[ April],[November ]
386,387,High1 Resort,37.207,128.825,South Korea,Asia,0,1367,690,4,7,9,20,0,0,1,6,4,11,26685,True,False,False,False,[ April],[December ]
391,392,Furano,43.342,142.383,Japan,Asia,42,1202,245,15,13,2,30,0,0,2,8,2,12,12650,True,True,True,False,[ May],[November ]
398,399,Hoshino Resorts Tomamu,43.066,142.633,Japan,Asia,42,1239,520,7,7,6,20,0,0,0,10,1,11,12400,True,False,False,False,[Unknown],[]
414,415,Kiroro,34.753,135.433,Japan,Asia,42,1180,570,8,10,10,28,0,0,0,8,1,9,13800,True,False,True,False,[Unknown],[]
466,467,Shymbulak-Chimbulak-,43.139,77.071,Kazakhstan,Asia,24,2260,1626,4,10,6,20,0,0,6,4,0,10,8790,True,False,False,False,[Unknown],[]
474,475,Sun Mountain-Yabuli,44.929,128.604,China,Asia,0,1375,457,3,19,13,35,0,0,4,2,0,6,13776,True,False,False,False,[ April],[November ]
485,486,Mt Dobson,-43.922,169.757,New Zealand,Oceania,51,2046,1692,2,5,3,10,0,2,2,4,3,9,3660,True,False,False,True,[ October],[July ]

In [1487]:
# Latitude and longitude are the two significant columns that are showing relationship 

# Test case - find related resort using latitude and longitude
merge_df = pd.merge(
    resorts_df,
    snow_df,
    on=['Latitude', 'Longitude'],
    suffixes=('_df1', '_df2')
)

In [1488]:
# merged dataframe is empty, no relationship between two datasets
merge_df

Empty DataFrame
Columns: [ID, Resort, Latitude, Longitude, Country, Continent, Price, Highest point, Lowest point, Beginner slopes, Intermediate slopes, Difficult slopes, Total slopes, Longest run, Snow cannons, Surface lifts, Chair lifts, Gondola lifts, Total lifts, Lift capacity, Child friendly, Snowparks, Nightskiing, Summer skiing, Season From, Season To, Month, Snow]
Index: []